# Marketing Case Study Analysis

In [23]:
import pandas as pd

In [24]:
#read data
data = pd.read_csv('dataset-students.csv', sep=',')

In [25]:
display(data.head())
data.describe()

,Alter,Beruf,Familienstand,Bildung,Kreditverpflichtung,Wohnsituation,Kredit,Kontakt,Monat,Wochentag,...,Kampagne,Kontaktversuche,Vorherige Kontaktanzahl,Vorheriges Ergebnis,Arbeitslosenquote,Verbraucherpreisindex,Verbraucher-Konfidenzindex,Euribor 3M,Arbeitnehmerquote,y
0,56,Service,Verheiratet,Hauptschule,nein,nein,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
1,57,Dienstleistungen,Verheiratet,Hochschulreife,unbekannt,nein,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
2,37,Dienstleistungen,Verheiratet,Hochschulreife,nein,ja,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
3,40,Verwaltung,Verheiratet,Realschule,nein,nein,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
4,56,Dienstleistungen,Verheiratet,Hochschulreife,nein,nein,ja,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein

,Alter,Dauer,Kampagne,Kontaktversuche,Vorherige Kontaktanzahl,Arbeitslosenquote,Verbraucherpreisindex,Verbraucher-Konfidenzindex,Euribor 3M,Arbeitnehmerquote
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [27]:
data

,Alter,Beruf,Familienstand,Bildung,Kreditverpflichtung,Wohnsituation,Kredit,Kontakt,Monat,Wochentag,...,Kampagne,Kontaktversuche,Vorherige Kontaktanzahl,Vorheriges Ergebnis,Arbeitslosenquote,Verbraucherpreisindex,Verbraucher-Konfidenzindex,Euribor 3M,Arbeitnehmerquote,y
0,56,Service,Verheiratet,Hauptschule,nein,nein,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
1,57,Dienstleistungen,Verheiratet,Hochschulreife,unbekannt,nein,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
2,37,Dienstleistungen,Verheiratet,Hochschulreife,nein,ja,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
3,40,Verwaltung,Verheiratet,Realschule,nein,nein,nein,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
4,56,Dienstleistungen,Verheiratet,Hochschulreife,nein,nein,ja,Telefon,Mai,Montag,...,1,999,0,Nicht vorhanden,1.1,93.994,-36.4,4.857,5191.0,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,Rentne,Verheiratet,Berufliche Weiterbildung,nein,ja,nein,Online,November,Freitag,...,1,999,0,Nicht vorhanden,-1.1,94.767,-50.8,1.028,4963.6,ja
41184,46,Industrie,Verheiratet,Berufliche Weiterbildung,nein,nein,nein,Online,November,Freitag,...,1,999,0,Nicht vorhanden,-1.1,94.767,-50.8,1.028,4963.6,nein
41185,56,Rentne,Verheiratet,UniversitÃ¤tsabschluss,nein,ja,nein,Online,November,Freitag,...,2,999,0,Nicht vorhanden,-1.1,94.767,-50.8,1.028,4963.6,nein
41186,44,Technik,Verheiratet,Berufliche Weiterbildung,nein,nein,nein,Online,November,Freitag,...,1,999,0,Nicht vorhanden,-1.1,94.767,-50.8,1.028,4963.6,ja
41187,74,Rentne,Verheiratet,Berufliche Weiterbildung,nein,ja,nein,Online,November,Freitag,...,3,999,1,Fehlschlag,-1.1,94.767,-50.8,1.028,4963.6,nein

In [ ]:
# From here you can do whatever you want with the data
# For example:
# Use a random forest classifier from the scikit-learn library
# Or use imbalanced-learn to deal with the class imbalance of the target variable